---
import { Image } from "astro:assets"
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"
import { useStoryblokApi } from "@storyblok/astro"
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"

const storyblokApi = useStoryblokApi()

const {
  data: { story: headerContent }
} = await storyblokApi.get("cdn/stories/website-header", {
  version: "published"
})

const { pathname } = Astro.url
const showHeaderImg = pathname === "/" && headerContent.content.header_foto.filename
const showHeaderContent = pathname === undefined || !pathname.includes("plattegrond")
const { title, description } = Astro.props
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .home-link {
        display: block;
        width: min(350px, 20vw);
        height: min(350px, 20vw);
        position: absolute;
        top: 5rem;
        left: 2rem;
      }
      .home-link img {
        width: 100%;
        height: auto;
      }
      @media (max-width: 720px) {
        .home-link {
          display: block;
          width: 200px;
          height: 200px;
          position: absolute;
          top: 0.5rem;

          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
        }
      }
    </style>
  </head>

  <body>
    {
      showHeaderImg && (
        <div class='background-image-container'>
          <Image
            class='background-image'
            src={`${headerContent.content.header_foto.filename}/m/`}
            title='banner'
            alt='banner'
            inferSize={true}
            quality={100}
          />
        </div>
      )
    }
    <a href='/' class='home-link'>
      <Image src='/images/van-reeuwijk-logo.png' title='home' alt='home' width={350} height={350} quality={100} />
    </a>
    {showHeaderContent && <StoryblokComponent blok={headerContent.content} />}
    <main>
      <article>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
